* {
  padding: 0;
  margin: 0;
}
body{
background-color:lightgrey;
}
.gap_c{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item {
	background-color: lightgreen;
	border-radius: 5px;
	border-style: solid;
}
.grid_ram {
	display: grid;
	grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	height: 75px;
	margin-bottom:50px;
}
.gap{
  grid-gap: 4vw 0;
}
.elem{
  height: 100px;
  width: 300px;
  background-color:lightgreen;
  margin:0 auto;
  border:1px solid grey;

}
.container{
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em;
}

.container_item{
  background-color: lightgreen;
  text-align: center;
  padding: 2em;
}

.item:nth-child(1){
  background-color: gray;
  border:2px solid green;
}

.container_item:nth-child(2){
  background-color: lightgreen;
  justify-self: start;
    border:2px solid pink;
}

.container_item:nth-child(3){
  background-color: white;
  justify-self: end;
    border:2px solid black;

}
.container_item:nth-child(4){
  background-color: pink;
  justify-self: center;
    border:2px solid green;
}
.item1{
  grid-column: 1/3;
}
.item2{
  grid-column: 1/2;
}

.item3{
  grid-column: 1;
}
.grid-container {
        display: grid;
        margin-top: 5px;
        padding: 10px;
        background: rgb(
          0,
          150,
          208
        );
        grid-template-rows: 30px 30px 30px 30px; 
        grid-template-columns: 25% 25% 25% 25%; 
        grid-template-areas:
          'header header header header' 
          'nav main main .'
          'nav main main .' 
          'footer footer footer footer';
      }
      .grid-container > div {
        background: rgb( 241,101, 41 ); 
        border: 1px solid #000; 
        text-align: center;
      }
      .item-a {
        grid-area: header; 
        background: white !important;
      }
      .item-b {
        grid-area: main;
        background: yellow !important;
      }
      .item-c {
        grid-area: footer; 
        background: pink !important;
      }
      .item-d {
        grid-area: nav; 
        background: lightgreen !important;
      }
	  .grid-container1,
		.grid-container2 {
			display: grid;
			margin-top: 5px;
			padding: 10px;
			background: rgb(0,150,208); 
			grid-template-rows: [row1] 30px  [row2] 30px  [row3] 30px  [row4] 30px; 
			grid-template-columns: [column1] 25%  [column2] 25%  [column3] 25%  [column4] 25%; 
		}
		.grid-container1 > div,
		.grid-container2 > div { 
			background: rgb(241,101,41); 
			border: 1px solid #000;
			text-align: center; 
		} 
		.a {
			grid-area: 1 / 3 / 5; 
			
		}
		.b {
			grid-area: row2 / span 4 / row4; 
			 
		}
		.container4 {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: 50px 80px;
			height: 200px;
			align-content: center;
			padding: 10px;
			justify-content:start;  
		}
		.container4:hover { 
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  align-content: center;
		  padding: 10px;
		  justify-content:space-between;  
		}
		
		.container3 {
			display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  align-content: center;
		  padding: 10px;
		justify-content:  space-around; 
		}
		.container3:hover { 
		display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  align-content: center;
		  padding: 10px;
		justify-content:  end;  
		}
		.container3>div{
		width: 50px; 
			height: 50px;  
			border: 1px solid green;
		}
		.container4 > div {
			width: 50px; 
			height: 50px;  
			border: 1px solid orange;
		} 
		.container9 {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  align-content:stretch;
		  padding: 10px;
		}
		.container9:hover {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  align-content: space-around;
		  padding: 10px;
		}
		.container9 > .child {
		  background-color: rgba(255, 255, 255, 0.8);
		  text-align: center;
		  font-size: 30px;
		  margin: 5px;
		}
		.container10 {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  padding: 10px;
		  place-content: end space-between;
		  place-items:normal start;
		}
		.container10:hover {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  padding: 10px;
		  place-content: space-evenly stretch; 
		}
		.container10 > div {
		  border: 2px solid #8c8c8c;
		  width: 50px;
		  background-color: #a0c8ff;
		}
			.container13 {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  padding: 10px;
		  place-items:center start;
		}
		.container13:hover {
		  display: grid;
		  grid-template-columns: auto auto;
		  grid-template-rows: 50px 80px;
		  height: 200px;
		  padding: 10px;
		  place-items:end;
		}
		.container13 > div {
		  border: 2px solid #8c8c8c;
		  width: 50px;
		  background-color: #a0c8ff;
		}
		.small {
		  font-size: 12px;
		  height: 40px;
		}

		.large {
		  font-size: 14px;
		  height: 50px;
		}
		.item_ram{
		  background-color: #712;
		  border-radius: 5px;
		  border-style: solid;
		  }
