body {
     margin: 0; 
     padding: 0; 
     background: #8de984;
}
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sky {
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 100, 255, 0.5);
}

.sea {
    position: relative;
    width: 100%;
    height: 50vh;
    animation: sea_night 15s linear infinite alternate;
}

.waves {
    display: block;
    width: 2000px;
    color: white;
    font-size: 64px;
    text-overflow: clip;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    animation: waves 5s ease-in infinite;
    position: relative;
    left: -10vh;
}

@keyframes waves {
    from {
        left: 0vh;
    }
    50% {
        left: -10vw;
    }
    to {
        left: 0vh;
    }
}

@keyframes sea_night {
    from {
        background-color: #b1ae14;
    }
    to {
        background-color: rgb(56, 36, 7);
    }
}
.ochk{
color:white;
margin-left: 200px;
}
img{
  width:200px;
   height:200px;
}
.night {
  width: 100%;
  height: 50vh;
  background-color: rgb(4, 10, 87);
  transition: opacity;
  animation: change_day 15s linear infinite alternate;
  animation-direction: alternate;
}

.bird {
  color: wheat;
  width: 20%;
  font-size: 45px;
  position: absolute;
  top: 5vh;
  animation: bird_flight 10s linear infinite;
  animation-play-state: paused;
}

@keyframes bird_flight {
  from {
    left: -20%;
  }
  to {
    left: 120%;
  }
}

@keyframes change_day {
  from {
      opacity: 0.0;
  }
  to {
      opacity: 1;
  }
}

.thermometer:hover {
  background-color: red;
}

.thermometer {
  position: absolute;
  bottom: 1em;
  left: 5em;
  background-color: lightgray;
  transition: background-color 2s linear;
  width: 10vh;
  box-shadow: -0.15vh -0.15vh 0.05px gray;
}
.run * {
  animation-play-state: running;
}
ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
    background:hsl(135, 78%, 47%); /*добавляем фон всему меню*/
    height: 50px;
  }
  a {
    text-decoration: none;
    background:hsl(125, 78%, 47%); 
    color:#fff; 
    padding:0px 60px; 
    font-family: arial; 
    line-height:50px; 
    display: block; 
    border-right: 1px solid #47e74f; 
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
  a:hover {
    background:hsl(138, 78%, 47%);
  }
  li {
    float:left; 
  }
@keyframes fadeIn {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 0.5;
    }
    80% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: scale(0.7);
      opacity: 0.5;
    }
    80% {
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
  }
  #msg_pop {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left: 30px;
    width: 250px;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px;
  }
  #msg_pop h4 {
    margin: 0;
    text-align: center;
    font-size: 15px;
  }
   
  #msg_close {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 15px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
  }
  #msg_close:hover {
    background-color: #fff;
    color: #000;
  }
   
  .fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
  }
   
  .fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  .anim_1 {
    position: fixed;
    top: 300px;
    left: -500px;
    animation: animation 10s ease-in infinite;
    transform: scaleX(1);
}
.bird_2 {
  position: fixed;
  top: 150px;
  left: -300px;
  animation: animation 10s ease-in infinite;
  transform: scaleX(1);
}
.anim_3 {
  position: fixed;
  top: 400px;
  left: -50px;
  animation: animation 10s ease-in infinite;
  transform: scaleX(-1);
}
.anim_4 {
  position: fixed;
  top: 300px;
  left: -200px;
  animation: animation 10s ease-in infinite;
  transform: scaleX(1);
}
@keyframes animation {
    100% {
        left: 100vw;
    }
}