
body {
    margin: 0 0;
	background-color: #8ee963;
}

header {
	background-color: #fafafa;
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form h1 {
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}

.name_author {
    max-width:1000px;
    min-height: 100px;
    background-color: rgb(127, 255, 148);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
}

label {
    font-size: 18px;
    color: #fff;
}

button {
    background-color: #b7bf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    font-size: 18px;
}

form a {
    background-color: #bfa842;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    font-size: 18px;
}
.author{
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

.author_info {
    font-weight: bold;
    font-size: 24px;
    color: rgb(75, 206, 92);
}

.game_info {
    max-width:1000px;
    min-height: 200px;
    background-color: rgb(43, 209, 98);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about_game_header {
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

.about_game_inf {
    font-weight: bold;
    font-size: 21px;
    color: rgb(48, 105, 40);
}

.gallery_content img {
    width: 200px;
}

.about_header:hover{
    font-size: 42px;
    color: rgb(16, 102, 42);
    transition: 2.5s;
}

.about_game_header:hover{
    font-size: 42px;
    color: rgb(16, 102, 42);
    transition: 2.5s;
}

.gallery {
    max-width:1000px;
    min-height: 400px;
    background-color: rgb(163, 60, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gal_header {
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

.gal_content {
    color: rgb(40, 105, 43);
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.gallery_header:hover{
    font-size: 46px;
    color: rgb(56, 139, 0);
    transition: 2.5s;
}

@media (max-width: 600px) {
    .gallery_content {
        flex-direction: column;
    }
}

.header_name {
    display: flex;
    justify-content: space-between;
    background-color: rgb(131, 78, 18);
    height: 100px;
    align-items: center;
}

p::selection{
    background-color: rgb(142, 255, 66);
}

.form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(97, 51, 14);
}

.name {
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
}

.logo {
    background-size: 30px;
}