body {
    margin: 0;
    padding: 0;
  
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
  }
  
  .share {
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
  
    background-color: #ecf0f1;
  }
  
  .share b {
    margin-right: 15px;
  
    font-weight: normal;
    color: #7f8c8d;
    text-transform: uppercase;
  }
  
  .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
  
    background-color: #bdc3c7;
    background-image: url(social.png);
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
  }

  .social-vk {
    background-color: #6d8fb3;
    background-position: 0 0;
    padding-top: 10px;
    color: white;
  }
  
  .social-fb {
    background-color: #526da3;
    background-position: -40px 0;
    padding-top: 10px;
    color: white;
  }
  
  .social-tw {
    background-color: #73bfe6;
    background-position: -80px 0;
    padding-top: 10px;
    color: white;
  }
  .paginator {
    width: 280px;
    margin: 30px auto;
    padding: 10px;
  
    white-space: nowrap;
  
    background-color: #ecf0f1;
  }
  
  .paginator a,
  .paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
  
    font-weight: bold;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
  
    background-color: #95a5a6;
  }
  
  .paginator .prev {
    margin-right: 20px;
  }
  
  .paginator .next {
    margin-left: 20px;
  }
  
  .paginator .current {
    background-color: #16a085;
    
  }
  
  .paginator .disabled {
    opacity: 0.3;
  }
  
  .paginator a:hover {
    background-color: #2ecc71;
  }
  

	.comment{
	  width: 600px;
	  margin: 0 auto;
	  padding: 10px;
	  padding-left: 20px;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: padding-box;
	}

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	footer {
		position: fixed;
		bottom: 0;
	}

	input {
		padding: 3em;
	}

	.gorisont ul {
		
		display: flex;
		background-color: darkpink;
		justify-content:space-around;
	}

	.gorisont a {
		display: block;
		padding: 1em;
		background-color: pink;
		color: white;
	}

	.gorisont a:hover {
		background-color: black;
	}

	.vertical {
		block-size: 200px;
		width: fit-content;
	}

	.vertical ul {
		background-color: pink;
		padding: 1em;
		
	}

	.vertical a {
		display: block;
		padding: 1em;
		background-color: darkpink;
		color: black;
	}

	.vertical li {
		margin-bottom: 1em;
	}

	.vertical li:last-child {
		margin-bottom: 0em;
	}

	.vertical a:hover {
		background-color: lightpink;
	}

	.multiGor{
	padding-top:120px;
	padding-bottom:120px;
	padding-left:0px;
	}
	.multiGor ul {
		background-color: pink;
		position: absolute;
	}

	.multiGor ul.topMulHor {
		margin-left: 5em;
	}

	.multiGor li {
		float: left;
		height: 100%;
		position: relative;
	}

	.multiGor a {
		display: block;
		background-color: pink;
		color: white;
		padding: 1em;
		min-width: 5em;
	}

	.multiGor a:hover {
		background-color: black;
	}

	.multiGor .subMulHor {
		display: block;
	}

	.multiGor li:hover .subMulHor {
		display: block;
	}

	.multiGor .subMulHorMenu {
		display: none;
	}

	.multiGor li:hover .subMulHorMenu {
		display: block;
	}

	.multiGor .subMulHorMenu div {
		width: 40em;
		padding: 2em;
	}

	.multiGor .subMulHorMenu img {
		border: 2px solid red;
	}
