<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-night.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <title>To do list</title>
</head>
<body>
    <div id="app">
        <div class="content">
        <header>
            <div class="header" :class="[darkTheme ? 'header-dark' : '']" >
                <img  class="header__image" src="logo_ay.svg" srcset="src.svg"alt="логотип">
                <div class="header__text">to do list — Auypov</div>
                <label class="slide">
                    <input   type="checkbox" v-model="darkTheme">
                    <span class="slide-slider"></span>
                 </label>
            </div>
        </header>
        <main>
        <div class="wrapper">
            <div class="card">
                <button class="card__button" tabindex="1"  @click="clear()"  v-on:click="openAdd()":class="[darkTheme ? 'card__button-dark' : '']">Добавить задачу</button>
                <h3 class="card__title">{{"Текущие задачи:"+tasks.length}} </h3>
            </div>
            
            
            <div class="modal-container">
                <div class="add-task" v-show="isShowTR" :class="[darkTheme ? 'add-task-dark' : '']">
                    <button type="submit" class="add-task__btn-close" v-on:click="isShowTR=false">×</button>
                    <p class="add-task__block"><label class="add-task__label">Описание задачи:</label></p>
                    <p class="add-task__block"><input class="add-task__input" type="text" v-model="add_task.title"/></p>
                    <p class="add-task__block"><label class="add-task__label">Уровень важности:</label><select class="add-task__select" v-model="add_task.desc">
                    <option value=1>Высокий уровень</option>
                    <option value=2>Средний уровень</option>
                    <option value=3>Низкий уровень</option>
                    
                </select></p>
                    
                    <button type="submit" @click="add()" tabindex="5"  class="card__button" :disabled="(add_task.desc =='') || (add_task.title =='')":class="[darkTheme ? 'card__button-dark' : '']">Добавить задачу</button>
                </div>
            </div>
            <div>
                <div class="flex-container">
                 <task @done="delete_task(index)" :data="data" v-for="(data, index) in tasks.slice().reverse()" :key="index"></task>
             </div>
        </div>
        </main>
    </div>
        <footer>
            <div class="footer__text" :class="[darkTheme ? 'footer-dark' : '']">Аюпов Али Наилевич, 191-361, 09.07.2021</div>
        </footer>
    </div>
</body>
<script src="script.js"></script>
</html>