.header-dark{
    background-color: rgb(34, 34, 33);
    color: white;
}
.footer-dark{
    background-color: rgb(34, 34, 33);
    color: white;
}
.add-task-dark{
    background-color: rgb(58, 56, 56);
    border: 6px solid rgb(2, 28, 116);
    color:white;
}
.card__button-dark{
    background-color: rgb(58, 56, 56);
    border: 6px solid rgb(2, 28, 116);
    color:white;
}
.card__button-dark:hover{
    background-color: rgb(0, 0, 0);
    border: 6px solid rgb(2, 28, 116);
    color:white;
}
.app-dark{
    background-color: rgb(107, 107, 107);
}
.task__item-dark{
background-color: rgb(54, 54, 54);
color: white;
border:2px solid blue;
}
