
* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  .content {
    padding-bottom: 90px;
  }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
  
  body{
    margin: 0;
    font-family: 'Circe';
    font-weight: normal;
    font-style: normal;
}
.wrapper{
    max-width:1000px;
    margin: 0 auto;
}
.card{
    text-align: center;
}
.card__button{
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 600;
    border-radius:30px;
    background-color: rgb(241, 241, 87);
    border: 6px solid rgb(56, 56, 51);
}
h3{
    font-size: 1.1em;
}
.card__button:hover{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 600;
    border-radius:30px;
    background-color: rgb(245, 245, 124);
}
.header{
    overflow: hidden;
    font-size: 2.2em;
    font-weight: 600;
    background-color: rgb(252, 225, 77);
}
@media screen and (max-width:600px){
    .header{
        font-size: 1.0em;
    }
    
}
.header__text{
    float: left;
    margin-left: 15px;
}
.header__button{
    float: right;
}
.slide{
    position: relative;
    display: inline-block;
    margin: auto 2em;
    width: 1.5em;
    height: 1em;
}

.slide input{
    opacity: 0;
    width: 0;
    height: 1.8em;
}

.slide-slider{
    position: absolute;
    top: 10px;
    left: -3px;
    width: 1.5em;
    height: 0.7em;
    cursor: pointer;
    border: 2px solid;
    border-color: #EEE #DDD #DDD #EEE;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    background-color: #FFF;
    -webkit-box-shadow: inset 1px 1px 3px 0px #000, inset -2px -2px 3px 0px rgba(255,255,255,0.3);
        -moz-box-shadow: inset 1px 1px 3px 0px #000, inset -2px -2px 3px 0px rgba(255,255,255,0.3);
          -o-box-shadow: inset 1px 1px 3px 0px #000, inset -2px -2px 3px 0px rgba(255,255,255,0.3);
             box-shadow: inset 1px 1px 3px 0px #000, inset -2px -2px 3px 0px rgba(255,255,255,0.3);
    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}


.slide-slider::before{
    position: absolute;
    content: "";
    left:3px;
    top: 3px;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #AAA;
    border-radius: 1em;
    background-color: #373836;
    -webkit-transition: .4s;
       -moz-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
}


.slide-slider::after{
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 1.5em;
    height: 1em;
    border: 2px solid;
    border-color: rgba(30, 143, 255,0.0);
    border-radius: 1em;
}


input:checked + .slide-slider {
    background-color: #000000;
}

input:checked + .slide-slider::before {
    background-color: #FFF;
}


input:checked + .slide-slider:before {
    -webkit-transform: translateX(0.7em);
       -moz-transform: translateX(0.7em);
         -o-transform: translateX(0.7em);
            transform: translateX(0.7em);
}


input:disabled  + .slide-slider{
    background-color: #DDD;
}

input:disabled  + .slide-slider::before{
    background-color: #DDD;
}
.footer__text{
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-size:1.1em;
    background-color: rgb(201, 201, 136);
}
.add-task__label{
    font-size: 0.8em;
}
.add-task {
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border: 6px solid rgb(194, 157, 56);
    background: rgb(201, 201, 136);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transition: .4s;
    align-content: center;
    justify-content: center;
}
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 80%;
}
.add-task__block {
    text-align: center;
    height: 35px;
    width: 300px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600px;
    transition: 1.5s;
    border: none;
    padding:15px;
}
.add-task__btn-close{
    margin-left: 285px;
    margin-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: tomato;
    border-radius: 50%;
    border:3px solid black;
}
.add-task__btn-close:hover{
background-color: brown;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.task{
    margin: 10px;
}
.header__image{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.task__item-light{
    background-color: rgb(239, 255, 96);
    border-radius: 40px;
    border:2px solid rgb(110, 55, 20);
    width: 100px;
    min-height: 100px;
}
.task__block{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.1em;
}
.task__name{
    margin-left:20px;
    word-break:break-all;
}
.add-task__btn-close--mod {
    margin-left:0px; 
    margin-bottom: 0px;
}