@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.header {
    width: 100%;
    height: max-content;
    background-color: #161616;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
.slider_button{
	color:white;
	text-decoration:none;
}
.header>* {
    width: 70%;
    margin: 0 auto;
}

.header-text {
    text-transform: uppercase;
    font-size: 1.81vw;
}

.logo {
    border: white 1px solid;
    width: max-content;
    padding: 7px 22px;
    font-size: 0.8vw;
    letter-spacing: 2px;
    margin-right: 60px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.menu-item {
    font-size: 0.87vw;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}

.address {
    font-size: 1vw;
}

.header-purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    width: 30%;
}

.header-buy {
    background-color: #FFE500;
    color: #161616;
    padding: 15px 30px;
    font-size: 1.21vw;
    letter-spacing: 2px;
    margin-top: 50px;
    border: none;
}

.header-purchase-and-picture {
    width: 80%;
    height: max-content;
    display: flex;
    margin-top: 5%;
    align-items: flex-start;
}

.header-train {
    width: 55%;
    position: absolute;
    right: 0px;
}

.header-arrows {
    margin-top: 7%;
    width: 30%;
    text-align: center;
    position: relative;
    right: 200px;
}

.what-we-can {
    background-color: #F1F2F5;
    padding-bottom: 50px;
}

.title {
    color: black;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 2vw;
    font-weight: bolder;
}

.what-we-can-columns {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.what-we-can-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.what-we-can-item {
    background-color: #FFFFFF;
    width: min-content;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.4s linear;
    page-break-inside: avoid;
}

.what-we-can-picture {
    width: auto;
}

.what-we-can-item:hover {
    transform: translateY(-50px);
}

.what-we-can-sign {
    margin: 40px;
    width: 80%;
    color: #161616;
    font-size: 1.21vw;
    font-weight: bold;
}

.what-we-can-map-icon {
    width: 30px;
    background-color: #FFE500;
    position: absolute;
    padding: 10px;
}

.our-advantages {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.our-advantages-advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2%;
    grid-row-end: auto;
    justify-content: space-around;
}

.our-advantages-element {
    display: flex;
    font-weight: bold;
    align-items: center;
    width: max-content;
    max-width: 350px;
    padding-bottom: 30px;
}

.our-advantages-yellow-block {
    background-color: #FFE500;
    padding: 15px;
    font-size: 1.6vw;
}

.our-advantages-num {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    color: #000000;
    opacity: 0.03;
    bottom: 50%;
    right: 55%;
}

.our-advantages-description {
    padding-left: 40px;
}

.map {
    width: 80%;
    margin: 0 auto;
}

.map-picture {
    width: 100%;
}

.arenda-zemli {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arenda-zemli-mobile-picture {
    display: none;
}

.arenda-zemli-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 15%;
}

.text-description {
    font-size: 1vw;
    margin-bottom: 50px;
}

.text-header {
    font-size: 2vw;
    padding-bottom: 30px;
}

.consultation {
    background-color: #161616;
    color: #FFFFFF;
    padding: 20px 30px;
    font-size: 0.7vw;
    letter-spacing: 2px;
    border: none;
}

.arenda-zemli-pictures {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arenda-zemli-grey-rectangle {
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 1;
}

.arenda-zemli-zemlya {
    position: relative;
    z-index: 2;
}

.arenda-skladov-text {
    width: 60%;
}

.text-header-white,
.text-description-white {
    color: white;
}

.arenda-skladov {
    background-color: #161616;
    display: flex;
    height: max-content;
    padding-bottom: 50px;
    margin-top: 50px;
}

.arenda-skladov-mobile-picture {
    display: none;
}

.arenda-skladov-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.consultation-white-border {
    border: white 1px solid;
}

.arenda-skladov-picture {
    position: relative;
    top: 100px;
    width: 50%;
    height: min-content;
}

.send-contacts {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.send-contacts-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-contacts-field {
    background-color: #EFF0F1;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1vw;
    width: 80%;
    padding: 20px;
}

.footer {
    background-color: #161616;
    color: white;
}

.footer-content {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


.mobile-opened-menu {
    background-color: #161616;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 2em;
    color: #FFFFFF;
    display: none;
    flex-direction: column;
    align-items: center;
}

.menu-opened-style {
    margin-top: 10%;
    height: 60%;
    gap: 3rem;
}

.mobile-menu-exit {
    float: right;
}

.send-contacts-form-block{
    display: flex;
    flex-direction: column;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    width: 95%;
    text-align: center;
}
:focus {
    outline-width: 8px;
    outline-color: yellowgreen;
    font-weight: bold;
}

.header-mobile-menu {
    display: none;
}

@media (max-width: 1500px) {
    .footer-content {
        width: 80%;
    }

    .header>* {
        width: 80%;
    }

    .send-contacts-form {
        width: 100%;
    }

    .what-we-can-columns {
        width: 90%;
    }
}

@media (max-width: 1250px) {
    .what-we-can-rows {
        flex-direction: column;
    }

    .our-advantages-num {
        display: none;
    }

    .footer-content {
        width: 90%;
    }

    .header {
        background-image: linear-gradient(rgba(63, 63, 63, 0.8), rgba(0, 0, 0, 0.5)), url(img/1.png);
        background-position: 50% 40%;
        background-repeat: no-repeat;
    }

    .header-navigation {
        width: 95%;
    }

    .header-purchase {
        justify-self: center;
        align-self: center;
    }

    .header-text {
        width: 300%;
    }

    .header-train {
        display: none;
    }

    .arenda-skladov-picture {
        display: none;
    }

    .arenda-zemli-pictures {
        display: none;
    }

    .arenda-skladov-text {
        width: 95%;
    }

    .send-contacts-form {
        flex-direction: column;
        gap: 2rem;
    }

    .consultation,
    .send-contacts-field {
        width: 95%;
    }

    .menu-item-header,
    .address,
    .menu-item-phone {
        display: none;
    }

    .header-arrows {
        text-align: end;
        right: 0;
    }

    .title {
        padding-top: 10%;
    }

    .arenda-zemli,
    .arenda-zemli-text {
        width: 95%;
        padding-right: 0;
    }

    .arenda-zemli-form {
        width: 90%;
    }

    .menu-mobile-flex {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .menu-item {
        font-size: 1vw;
    }

    .logo {
        margin-right: 0;
    }

    .arenda-zemli,
    .arenda-skladov {
        flex-direction: column;
    }

    .arenda-zemli-text,
    .arenda-skladov-content {
        align-items: center;
        text-align: center;
    }

    .arenda-zemli-mobile-picture {
        display: block;
        width: 95%;
        margin-bottom: 5%;
    }

    .arenda-skladov-mobile-picture {
        display: block;
        width: 95%;
        margin: 0 auto;
        position: relative;
        bottom: 1.5em;
    }

    .header-mobile-menu {
        display: block;
    }
}

@media print {
    @page {
        margin: 2cm, 1cm, 2cm, 3cm;
    }

    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* a[href]:after {
        content: " ("attr(href) ")";
    } */

    .map {
        break-inside: avoid;
    }

    .what-we-can {
        text-align: center;
    }

    .what-we-can-item {
        break-inside: avoid;
        margin: 0 auto;
        text-align: center;
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
        display: block;
        width: 100%;
        margin-bottom: 5%;
    }

    .what-we-can-picture {
        width: 70%;
        border: #000 2px solid;
    }

    .what-we-can-rows,
    .what-we-can-columns {
        display: block;
    }

    .what-we-can-sign {
        margin: 0 auto;
    }

    .our-advantages-element {
        margin: 0 auto;
        width: 80%;
    }

    .arenda-skladov-mobile-picture,
    .arenda-zemli-mobile-picture {
        max-width: 52%;
        border: #000 2px solid;
    }

    .our-advantages {
        page-break-before: always;
    }

    .header-form,
    .send-contacts,
    .footer,
    .consultation,
    .what-we-can-map-icon {
        display: none;
    }
}