@keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-moz-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .moon{
    z-index: 2;
  }
  .stars {
    background: black url("stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
  }
  
  .twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
  }
  
  .clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
  }
  
  img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }
  
.clouds:hover{
    opacity: 0;
}  
.night {
position: relative;
width: 100%;
height: 100%;
-webkit-transform: rotateZ(45deg);
transform: rotateZ(45deg);
}
 
.shooting_star {
position: absolute;
left: 50%;
top: 50%;
height: 2px;
background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
border-radius: 999px;
-webkit-filter: drop-shadow(0 0 6px #699bff);
filter: drop-shadow(0 0 6px #699bff);
-webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
content: '';
position: absolute;
top: calc(50% - 1px);
right: 0;
height: 2px;
background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
-webkit-transform: translateX(50%) rotateZ(45deg);
transform: translateX(50%) rotateZ(45deg);
border-radius: 100%;
-webkit-animation: shining 3000ms ease-in-out infinite;
animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
-webkit-transform: translateX(50%) rotateZ(-45deg);
transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
top: calc(50% - -13px);
left: calc(50% - 131px);
-webkit-animation-delay: 5146ms;
animation-delay: 5146ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
-webkit-animation-delay: 5146ms;
animation-delay: 5146ms;
}
.shooting_star:nth-child(2) {
top: calc(50% - -130px);
left: calc(50% - 247px);
-webkit-animation-delay: 1101ms;
animation-delay: 1101ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
-webkit-animation-delay: 1101ms;
animation-delay: 1101ms;
}
.shooting_star:nth-child(3) {
top: calc(50% - 189px);
left: calc(50% - 25px);
-webkit-animation-delay: 2253ms;
animation-delay: 2253ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
-webkit-animation-delay: 2253ms;
animation-delay: 2253ms;
}
.shooting_star:nth-child(4) {
top: calc(50% - -161px);
left: calc(50% - 23px);
-webkit-animation-delay: 3160ms;
animation-delay: 3160ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
-webkit-animation-delay: 3160ms;
animation-delay: 3160ms;
}
.shooting_star:nth-child(5) {
top: calc(50% - 159px);
left: calc(50% - 282px);
-webkit-animation-delay: 8477ms;
animation-delay: 8477ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
-webkit-animation-delay: 8477ms;
animation-delay: 8477ms;
}
.shooting_star:nth-child(6) {
top: calc(50% - -153px);
left: calc(50% - 48px);
-webkit-animation-delay: 9146ms;
animation-delay: 9146ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
-webkit-animation-delay: 9146ms;
animation-delay: 9146ms;
}
.shooting_star:nth-child(7) {
top: calc(50% - -26px);
left: calc(50% - 221px);
-webkit-animation-delay: 981ms;
animation-delay: 981ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
-webkit-animation-delay: 981ms;
animation-delay: 981ms;
}
.shooting_star:nth-child(8) {
top: calc(50% - -168px);
left: calc(50% - 47px);
-webkit-animation-delay: 8735ms;
animation-delay: 8735ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
-webkit-animation-delay: 8735ms;
animation-delay: 8735ms;
}
.shooting_star:nth-child(9) {
top: calc(50% - -29px);
left: calc(50% - 76px);
-webkit-animation-delay: 728ms;
animation-delay: 728ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
-webkit-animation-delay: 728ms;
animation-delay: 728ms;
}
.shooting_star:nth-child(10) {
top: calc(50% - -180px);
left: calc(50% - 73px);
-webkit-animation-delay: 7226ms;
animation-delay: 7226ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
-webkit-animation-delay: 7226ms;
animation-delay: 7226ms;
}
.shooting_star:nth-child(11) {
top: calc(50% - -138px);
left: calc(50% - 131px);
-webkit-animation-delay: 9896ms;
animation-delay: 9896ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
-webkit-animation-delay: 9896ms;
animation-delay: 9896ms;
}
.shooting_star:nth-child(12) {
top: calc(50% - -112px);
left: calc(50% - 87px);
-webkit-animation-delay: 2346ms;
animation-delay: 2346ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
-webkit-animation-delay: 2346ms;
animation-delay: 2346ms;
}
.shooting_star:nth-child(13) {
top: calc(50% - 130px);
left: calc(50% - 66px);
-webkit-animation-delay: 5796ms;
animation-delay: 5796ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
-webkit-animation-delay: 5796ms;
animation-delay: 5796ms;
}
.shooting_star:nth-child(14) {
top: calc(50% - 100px);
left: calc(50% - 110px);
-webkit-animation-delay: 2021ms;
animation-delay: 2021ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
-webkit-animation-delay: 2021ms;
animation-delay: 2021ms;
}
.shooting_star:nth-child(15) {
top: calc(50% - 132px);
left: calc(50% - 209px);
-webkit-animation-delay: 1605ms;
animation-delay: 1605ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
-webkit-animation-delay: 1605ms;
animation-delay: 1605ms;
}
.shooting_star:nth-child(16) {
top: calc(50% - 105px);
left: calc(50% - 88px);
-webkit-animation-delay: 5640ms;
animation-delay: 5640ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
-webkit-animation-delay: 5640ms;
animation-delay: 5640ms;
}
.shooting_star:nth-child(17) {
top: calc(50% - -20px);
left: calc(50% - 80px);
-webkit-animation-delay: 5547ms;
animation-delay: 5547ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
-webkit-animation-delay: 5547ms;
animation-delay: 5547ms;
}
.shooting_star:nth-child(18) {
top: calc(50% - -61px);
left: calc(50% - 67px);
-webkit-animation-delay: 798ms;
animation-delay: 798ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
-webkit-animation-delay: 798ms;
animation-delay: 798ms;
}
.shooting_star:nth-child(19) {
top: calc(50% - -186px);
left: calc(50% - 211px);
-webkit-animation-delay: 8854ms;
animation-delay: 8854ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
-webkit-animation-delay: 8854ms;
animation-delay: 8854ms;
}
.shooting_star:nth-child(20) {
top: calc(50% - 148px);
left: calc(50% - 132px);
-webkit-animation-delay: 2796ms;
animation-delay: 2796ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
-webkit-animation-delay: 2796ms;
animation-delay: 2796ms;
}
 
@-webkit-keyframes tail {
0% {
width: 0;
}
30% {
width: 100px;
}
100% {
width: 0;
}
}
 
@keyframes tail {
0% {
width: 0;
}
30% {
width: 100px;
}
100% {
width: 0;
}
}
@-webkit-keyframes shining {
0% {
width: 0;
}
50% {
width: 30px;
}
100% {
width: 0;
}
}
@keyframes shining {
0% {
width: 0;
}
50% {
width: 30px;
}
100% {
width: 0;
}
}
@-webkit-keyframes shooting {
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translateX(300px);
transform: translateX(300px);
}
}
@keyframes shooting {
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translateX(300px);
transform: translateX(300px);
}
}
@-webkit-keyframes sky {
0% {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
100% {
-webkit-transform: rotate(405deg);
transform: rotate(405deg);
}
}
@keyframes sky {
0% {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
100% {
-webkit-transform: rotate(405deg);
transform: rotate(405deg);
}
}
.wrap {
  margin: 100px;
}
.route {
  height: 200px;
  width: 400px;
  border: 3px dotted #000;
  border-top: none;
  border-right: none;
  position: relative;
}
.plane {
  transform: rotateY(180deg);
  position: absolute;
  bottom: -13px;
  left: 100%;
  animation: flyLeft 1.5s linear forwards, rotatePlane 0.5s linear 1.5s forwards,
    flyUp 1s linear forwards 2s;
  animation-play-state: paused;
}
 
.route:hover .plane {
  animation-play-state: running;
}
 
@keyframes flyLeft {
  100% {
    left: -14px;
  }
}
@keyframes rotatePlane {
  100% {
    transform: rotateY(180deg) rotateZ(-90deg);
  }
}
@keyframes flyUp {
  100% {
    bottom: 100%;
  }
}