@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");
@use "default_settings.scss";
.block2 {
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  color: #252B42;
  font-style: italic;
  font-size: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #252B42;
}

.block1 {
  font-size: 20px;
  margin-top: 80px;
}

.block1 > p {
  color: blue;
}

.block1 span {
  color: #420f0f;
  text-decoration: underline;
}

.block2 {
  margin-top: 40px;
  border: 1px solid black;
}

.block3 {
  margin-top: 40px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.block3 .li1 {
  font-weight: 100;
  color: #041a1e;
  background-color: #859;
  border: 2px solid #041a1e;
}

.block3 .li2 {
  font-weight: 400;
  color: #467;
  background-color: #159;
  border: 3px solid #467;
}

.block3 .li3 {
  font-weight: 700;
  color: #339;
  background-color: #ABB;
  border: 1px solid #339;
}

.block3 .li4 {
  font-weight: 900;
  color: #C88;
  background-color: #234;
  border: 1px solid #C88;
}

.block4 {
  margin-top: 40px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.block4:hover {
  font-size: 25px;
}

.block5 {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
}

.block5 p + p {
  font-size: 24px;
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */